:host {
    width: 100%;
}

.header {
    &__left,
    &__center,
    &__right {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    &__center {
        justify-content: center;
    }

    &__right {
        justify-content: flex-end;
    }
}