:host {
    display: block;
}

.answers {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    gap: .5em;
  
    &__item {
      background-color: var(--white);
      padding: 1em;
      white-space: pre-wrap;
  
      &-title {
        line-height: 1.45;
      }

      &-text {
        margin-bottom: 0;

        font-size: 1.25em;
        line-height: 1.45;

        &.empty-answer {
          color: var(--red);
        }
      }
    }
  }