:host {
  .spin {
    ::ng-deep {
      // Чтобы не было белого фона у спина
      .ant-spin-blur {
        display: none;
      }
    }
  }
}


.filter {
  display: flex;
  gap: 1em;
  align-items: center;

  &__options {
    display: flex;
    flex-direction: column;
  }
}

.content {
  padding: 2em;
  scrollbar-width: none;
  overflow-y: scroll;
}

.participant-card {
  display: block;
  margin-bottom: .5em;
  transition: box-shadow .15s ease-in-out;

  &:hover {
    box-shadow: var(--hover-box-shadow);
    cursor: pointer;
  }
}