:host {
  .spin {
    ::ng-deep {
      // Чтобы не было белого фона у спина
      .ant-spin-blur {
        display: none;
      }
    }
  }
}


.filter {
  display: flex;
  gap: 1em;
  align-items: center;

  &__show-options {
    flex-shrink: 0;
  }

  &__options {
    display: flex;
    gap: 1em;

    &-item {
      &-title {
        font-weight: 900;
        margin-bottom: .5em;
      }

      // &:nth-child(2) {

      // }

      // &:last-child {
      //   flex-basis: 12em;
      // }
    }

    &-group {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}

.content {
  padding: 2em 2px;
  scrollbar-width: none;
  overflow-y: scroll;
}

.participant-card {
  display: block;
  margin-bottom: .5em;
  transition: box-shadow .15s ease-in-out;

  &:hover {
    box-shadow: var(--hover-box-shadow);
    cursor: pointer;
  }
}