<nz-layout class="nz-layout">
    <nz-header class="nz-header">
        <app-header>
            <form header-left class="filter" [formGroup]="filterForm">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input nz-input type="text" placeholder="Поиск участника" formControlName="search" />
                </nz-input-group>
    
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
        
                <button 
                    nz-button
                    nz-popover
                    nzPopoverTrigger="click"
                    nzPopoverPlacement="bottom"
                    [nzPopoverContent]="contentTemplate"
                    [(nzPopoverVisible)]="filterVisible"
                    (nzPopoverVisibleChange)="changeFilterVisible($event)"
                >
                    <span nz-icon nzType="filter" nzTheme="outline"></span>
                    Фильтр
                </button>
    
                <ng-template #contentTemplate>
                    <nz-radio-group class="filter__options" formControlName="status">
                        <label nz-radio [nzValue]="null">Все</label>
                        <label nz-radio [nzValue]="ParticipantStatus.NotRated">Без оценок</label>
                        <label nz-radio [nzValue]="ParticipantStatus.PartiallyRated">Частично оценненые</label>
                        <label nz-radio [nzValue]="ParticipantStatus.FullRated">Полностью оценненые</label>
                        <label nz-radio [nzValue]="ParticipantStatus.InTeam">В команде</label>
                    </nz-radio-group>
                </ng-template>
            </form>

            <button nz-button header-right (click)="goToJuryPanel()">
                <span nz-icon nzType="star" nzTheme="outline"></span>
                Аккаунты
            </button>

            <app-logout-button header-right></app-logout-button>
        </app-header>
    </nz-header>

    <nz-content class="nz-content">
        <div class="container h-100">
            @if (isParticipantsLoading) {
                <nz-spin class="spin-height-100"></nz-spin>
            } @else {
                <cdk-virtual-scroll-viewport (scrolledIndexChange)="scrolledIndex = $event" itemSize="102" class="virtual-scroll">
                    <app-participant-card
                        *cdkVirtualFor="let participant of participants; trackBy: trackById"
                        class="participant-card"
                        [participant]="participant"
                    ></app-participant-card>
                </cdk-virtual-scroll-viewport>
            }
        </div>
    </nz-content>
</nz-layout>