<nz-layout class="app-layout">
    <nz-header>
        <div id="search-panel" [formGroup]="filterForm">
            <div id="search-bar">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input nz-input type="text" placeholder="Поиск участника" formControlName="search" />
                </nz-input-group>
    
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </div>
    
            <button 
                nz-button
                id="filter-button" 
                nz-popover
                nzPopoverTrigger="click"
                nzPopoverPlacement="bottom"
                [nzPopoverContent]="contentTemplate"
                [(nzPopoverVisible)]="filterVisible"
                (nzPopoverVisibleChange)="changeFilterVisible($event)"
            >
                <span nz-icon nzType="filter" nzTheme="outline"></span>
                Фильтр
            </button>

            <ng-template #contentTemplate>
                <nz-radio-group class="filter-options" formControlName="status">
                    <label nz-radio [nzValue]="null">Все</label>
                    <label nz-radio [nzValue]="ParticipantStatus.NotRated">Без оценок</label>
                    <label nz-radio [nzValue]="ParticipantStatus.PartiallyRated">Частично оценненые</label>
                    <label nz-radio [nzValue]="ParticipantStatus.FullRated">Полностью оценненые</label>
                    <label nz-radio [nzValue]="ParticipantStatus.InTeam">В команде</label>
                </nz-radio-group>
              </ng-template>

            <button nz-button nzType="dashed" id="view-button" (click)="changeViewType()">
                <span nz-icon [nzType]="view === View.Grid ? 'bars' : 'appstore'" nzTheme="outline"></span>
            </button>
        </div>

        <div id="actions-bar">
            <button nz-button id="juri-button" (click)="goToJuryPanel()">
                <span nz-icon nzType="star" nzTheme="outline"></span>
                Аккаунты
            </button>

            <button nz-button id="logout-button" (click)="goToLogin()">
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                Выход
            </button>
        </div>
    </nz-header>

    <nz-spin [nzSpinning]="isParticipantsLoading">
        <nz-content [class]="view">
            @for (participant of participants; track participant.id) {
                <app-known-participant-card 
                    [participant]="participant" 
                    [view]="view"
                    (click)="goToParticipant(participant.id)"
                ></app-known-participant-card>
            }
        </nz-content>
    </nz-spin>
</nz-layout>