<nz-layout class="app-layout">
    <nz-header>
        <div id="search-panel" [formGroup]="filterForm">
            <div id="search-bar">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input nz-input type="text" placeholder="Поиск участника" formControlName="search" />
                </nz-input-group>
    
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </div>
    
            <button 
                nz-button
                id="filter-button" 
                nz-popover
                nzPopoverTrigger="click"
                nzPopoverPlacement="bottom"
                [nzPopoverContent]="contentTemplate"
                [(nzPopoverVisible)]="filterVisible"
                (nzPopoverVisibleChange)="changeFilterVisible($event)"
            >
                <span nz-icon nzType="filter" nzTheme="outline"></span>
                Фильтр
            </button>

            <ng-template #contentTemplate>
                <nz-radio-group class="filter-options" formControlName="status">
                    <label nz-radio [nzValue]="null">Все</label>
                    <label nz-radio [nzValue]="ParticipantStatus.NotRated">Без оценок</label>
                    <label nz-radio [nzValue]="ParticipantStatus.PartiallyRated">Частично оценненые</label>
                    <label nz-radio [nzValue]="ParticipantStatus.FullRated">Полностью оценненые</label>
                    <label nz-radio [nzValue]="ParticipantStatus.InTeam">В команде</label>
                </nz-radio-group>
              </ng-template>
        </div>

        <div id="actions-bar">
            <button nz-button id="juri-button" (click)="goToJuryPanel()">
                <span nz-icon nzType="star" nzTheme="outline"></span>
                Аккаунты
            </button>

            <app-back-button></app-back-button>
        </div>
    </nz-header>

    <nz-content>
        <div class="container">
            @if (isParticipantsLoading) {
                <nz-spin></nz-spin>
            } @else {
                <cdk-virtual-scroll-viewport (scrolledIndexChange)="scrolledIndex = $event" itemSize="102" class="virtual-scroll">
                    <app-participant-card
                        *cdkVirtualFor="let participant of participants; trackBy: trackById"
                        [participant]="participant"
                        (click)="goToParticipant(participant.id)"
                    ></app-participant-card>
                </cdk-virtual-scroll-viewport>
            }
        </div>
    </nz-content>
</nz-layout>