:host {
  .spin {
    ::ng-deep {
      // Чтобы не было белого фона у спина
      .ant-spin-blur {
        display: none;
      }
    }
  }
}

.filter {
  display: flex;
  gap: 1em;
  align-items: center;

  &__show-options {
    flex-shrink: 0;
  }

  &__options {
    display: flex;
    gap: 1em;

    &-item {
      &-title {
        font-weight: 900;
        margin-bottom: .5em;
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}

.content {
  overflow-y: scroll;

  &__cards-container {
    position: relative;
    width: 100%;
    max-width: var(--container-width); 
    left: 50%;
    transform: translateX(-50%);
    margin: 2em 0em;

    app-participant-card {
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &:hover {
        box-shadow: var(--hover-box-shadow);
        transition: box-shadow .15s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
