<nz-card class="participant-card" [nzBodyStyle]="{'padding': '0'}">
    <div id="card-content" class="{{ viewType() === 'grid' ? 'tile' : 'item' }}">
        <nz-avatar id="avatar" [nzSize]="72" [nzSrc]="participant().info.photoUrl"></nz-avatar>
    
        <div id="info">
            <h3 id="name">{{ participant().info.name }}</h3>
        
            <p id="location">{{ participant().info.org }}, {{ participant().info.location }}</p>
        
            <p id="status">Часть жюри посмотрели</p>
        </div>
    </div>
</nz-card>