<nz-layout class="app-layout">
    <nz-header>
        <div id="search-panel" [formGroup]="filterForm">
            <div id="search-bar">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input nz-input type="text" placeholder="Поиск участника" formControlName="search" />
                </nz-input-group>
    
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </div>
    
            <button 
                nz-button
                id="filter-options" 
                nz-popover
                nzPopoverTrigger="click"
                nzPopoverPlacement="bottom"
                [nzPopoverContent]="contentTemplate"
                [(nzPopoverVisible)]="filterVisible"
                (nzPopoverVisibleChange)="changeFilterVisible($event)"
            >
                <span nz-icon nzType="filter" nzTheme="outline"></span>
                Фильтр
            </button>

            <ng-template #contentTemplate>
                <nz-radio-group formControlName="status">
                    <label nz-radio [nzValue]="null">Все</label>
                    <label nz-radio [nzValue]="ParticipantStatus.NotEvaluated">Без оценок</label>
                    <label nz-radio [nzValue]="ParticipantStatus.Evaluated">Оценненые</label>
                    <label nz-radio [nzValue]="ParticipantStatus.InTeam">В команде</label>
                </nz-radio-group>
              </ng-template>

            <button nz-button nzType="dashed" id="view-button" (click)="changeViewType()">
                <span nz-icon [nzType]="viewType === ViewType.Grid ? 'bars' : 'appstore'" nzTheme="outline"></span>
            </button>
        </div>

        <div id="actions-bar">
            <button nz-button id="juri-button" (click)="goToJuryPanel()">
                <span nz-icon nzType="star" nzTheme="outline"></span>
                Аккаунты
            </button>

            <button nz-button id="logout-button" (click)="goToLogin()">
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                Выход
            </button>
        </div>
    </nz-header>

    <nz-content [class]="viewType">
        @for (participant of participants$ | async; track participant.id) {
            <app-known-participant-card 
                [participant]="participant" 
                [viewType]="viewType"
                (click)="goToParticipant(participant.id)"
            ></app-known-participant-card>
        }
    </nz-content>
</nz-layout>