.jury {
    padding: .6em 1em;
    min-width: 30em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
        display: flex;
        flex-direction: column;
        gap: .1em;
    }

    &__actions {
        display: flex;
        gap: .5em;

        button {
            &.evaluated {
                .star {
                    color: var(--star-color);
                }
            }   
        }
    } 
}