<nz-card class="participant-card" [nzBodyStyle]="{'padding': '0'}">
    <div class="jury">
        <div class="jury__info">
            <span nz-typography>{{ jury.name }}</span>
            <span nz-typography nzType="secondary">{{ jury.email }}</span>
        </div>

        <div class="jury__actions">
            <button 
                nz-button   
                nz-popconfirm
                [class.evaluated]="evaluated"
                [nzPopconfirmTitle]="evaluated 
                    ? 'Вы уверены, что хотите превратить организатора в простого жюри? Аккаунт потеряет доступ до всех оценок' 
                    : 'Вы уверены, что хотите сделать жюри организатором? Организаторы могут видеть информацию обо всех участниках'"
                nzPopconfirmPlacement="bottom"
                nzCancelText="Отмена"
                nzOkText="Подтвердить"
                nzOkType="danger"
                [nzPopconfirmOverlayStyle]="{ 'width': '24em' }"
                (nzOnConfirm)="changeEvaluated()"
            >
                <span class="star" nz-icon nzType="star" [nzTheme]="evaluated ? 'fill' : 'outline'"></span>
            </button>

            <button 
                nz-button
                nz-popconfirm
                [nzPopconfirmTitle]="evaluated 
                    ? 'Вы уверены, что хотите удалить организатора? Его нельзя будет восстановить' 
                    : 'Вы уверены, что хотите удалить жюри? Его нельзя будет восстановить'"
                nzPopconfirmPlacement="bottom"
                nzCancelText="Закрыть"
                nzOkType="danger"
                nzOkText="Подтвердить"
                [nzPopconfirmOverlayStyle]="{ 'width': '24em' }"
                (nzOnConfirm)="remove()"
            >
                <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
        </div>
    </div>
</nz-card>