<nz-layout class="nz-layout">
    <nz-header class="nz-header jury-application-header">
        <app-header>
            <app-main-button header-left></app-main-button>

            <!-- Почему-то без оборачивания во что-либо не работает -->
            <div header-left class="jury-application-header__wrap">
                @if (isParticipantLoading) {
                    <nz-spin header-left class="jury-application-header__spin"></nz-spin>
                } @else {
                    @if (participant?.in_command) {
                        <button nz-button nzType="default" header-left (click)="openRateModal()">Посмотреть оценку</button>
                    } @else {
                        @if (participant?.rate) {
                            <button nz-button nzType="default" header-left (click)="openRateModal()">Изменить оценку</button>
                        } @else {
                            <button nz-button nzType="primary" header-left (click)="openRateModal()">
                                <span nz-icon nzType="dollar" nzTheme="outline"></span>
                                Оценить
                            </button>
                        }
                    }
                }   
            </div>

            <app-logout-button header-right></app-logout-button>
        </app-header>
    </nz-header>

    <nz-content class="nz-content content">
        <div class="container">
            @if (isParticipantLoading) {
                <nz-spin class="spin-height-100"></nz-spin>
            } @else {
                @if (participant) {
                    <div class="questionnarie">
                        <h2 nz-typography class="questionnarie__name">
                            <strong>
                                Заявка "{{ participant.code }}"
                            </strong>
                        </h2>

                        <h3 nz-typography class="questionnarie__title">Анкета</h3>

                        <app-answers [answers]="participant.answers"></app-answers>
                    </div>                    
                }
            }
        </div>
    </nz-content>
</nz-layout>