<nz-layout class="app-layout">
    <nz-header>
        <header class="header">
            <div class="info">
                <button nz-button (click)="goToApplications()">
                    <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
                    На главную
                </button>

                <nz-spin [nzSpinning]="isParticipantLoading">
                    @if (participant?.in_command) {
                        <button nz-button nzType="default" (click)="openEvaluateModal()">Посмотреть оценку</button>
                    } @else {
                        @if (participant?.rate) {
                            <button nz-button nzType="default" (click)="openEvaluateModal()">Изменить оценку</button>
                        } @else {
                            <button nz-button nzType="primary" (click)="openEvaluateModal()">
                                <span nz-icon nzType="dollar" nzTheme="outline"></span>
                                Оценить
                            </button>
                        }
                    }
                </nz-spin>
            </div>

            <button nz-button class="header__button" (click)="goToLogin()">
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                Выход
            </button>
        </header>
    </nz-header>

    <nz-content>
        @if (participant) {
            <h2 nz-typography class="header__name">
                <strong>
                    Заявка #{{ participant.id }}
                </strong>
            </h2>

            <h3 nz-typography>Анкета</h3>
            
            <ul class="answers">
                @for (answer of participant.answers | keyvalue; track $index) {
                    <li>
                        <p nz-typography><strong>{{ answer.key }}</strong></p>
                        <p nz-typography>{{ answer.value }}</p>
                    </li>
                }
            </ul>
        }
    </nz-content>
</nz-layout>