.jury-application-header {
  &__wrap {
    display: inline-flex;
  }

  &__spin {
    margin-left: 1em;
  }
}

.content {
  overflow: scroll;
  padding: 2em;
}

.questionnarie {
  &__name {
    font-weight: 500;
    margin: 0;
  }

  &__title {
    margin-top: .5em!important;
  }
}