<nz-layout class="app-layout">
    <nz-header>
        <header class="header">
            <div class="info">
                <app-main-button></app-main-button>

                @if (isParticipantLoading) {
                    <nz-spin></nz-spin>
                } @else {
                    @if (participant?.in_command) {
                        <button nz-button nzType="default" (click)="openRateModal()">Посмотреть оценку</button>
                    } @else {
                        @if (participant?.rate) {
                            <button nz-button nzType="default" (click)="openRateModal()">Изменить оценку</button>
                        } @else {
                            <button nz-button nzType="primary" (click)="openRateModal()">
                                <span nz-icon nzType="dollar" nzTheme="outline"></span>
                                Оценить
                            </button>
                        }
                    }
                }   
            </div>

            <app-back-button></app-back-button>
        </header>
    </nz-header>

    <nz-content>
        <div class="container">
            @if (isParticipantLoading) {
                <nz-spin></nz-spin>
            } @else {
                @if (participant) {
                    <h2 nz-typography class="header__name">
                        <strong>
                            Заявка "{{ participant.code }}"
                        </strong>
                    </h2>
                    
                    <h3 nz-typography>Анкета</h3>
                    
                    <app-answers [answers]="participant.answers"></app-answers>
                }
            }
        </div>
    </nz-content>
</nz-layout>