<nz-layout class="app-layout">
    <nz-header>
        <div class="left">
            <button nz-button (click)="goToParticipants()">
                <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
                На главную
            </button>

            <button nz-button nzType="primary" class="add-button" (click)="openAddModal()">
                <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                Добавить аккаунт
            </button>
        </div>

        <button nz-button (click)="goToLogin()">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            Выход
        </button>
    </nz-header>

    <nz-content class="list">
        @if (isAdultsLoading) {
            <nz-spin></nz-spin>
        } @else {
            @for (adult of adults; track adult.id) {
                <app-adult-card [adult]="adult" (removed)="removeAdult(adult.id)"></app-adult-card>
            }
        }
    </nz-content>
</nz-layout>