.login {
  height: 100vh;
  background-color: var(--primary-background);

  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  
  &-form {
    background-color: var(--white);
    padding: 2em;
    width: 25em;
    border-radius: 1em;

    &__button {
      margin: 0 auto;
      display: block;
      width: 10em;
    }
  }
}