.participant-header {
  &__spin {
    // Жесткий хардкод высоты под высоту заголовка h3, который внутри
    height: 32.4px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1em;

    &-code {
      margin: 0;
    }
  }
}

.content {
  overflow-y: auto;
  padding: 2em;
}