.participant-header {
  &__spin {
    // Жесткий хардкод высоты под высоту заголовка h3, который внутри
    height: 32.4px;
  }

  &__code {
    margin: 0;
  }
}

.content {
  overflow-y: auto;
  padding: 2em;
}