<nz-layout class="nz-layout">
    <nz-header class="nz-header participant-header">
        <app-header>
            <app-main-button header-left></app-main-button>

            <nz-spin class="participant-header__spin" header-center [nzSpinning]="isDataLoading">
                @if (participant) {
                    <h3 nz-typography class="participant-header__code">Участник "{{ participant.code }}"</h3>
                }
            </nz-spin>

            <app-logout-button header-right></app-logout-button>
        </app-header>
    </nz-header>


    <nz-content class="nz-content content">
        <div class="container">
            @if (isDataLoading) {
                <nz-spin class="spin-height-100"></nz-spin>
            } @else {
                @if (participant) {
                    <nz-tabset>
                        <nz-tab nzTitle="Анкета">
                            <app-participant-questionnarie-tab [participant]="participant"></app-participant-questionnarie-tab>
                        </nz-tab>
                        
                        <nz-tab nzTitle="Оценки">
                            <app-participant-rates-tab [participant]="participant" [juries]="juries"></app-participant-rates-tab>
                        </nz-tab>
                    </nz-tabset>
                }
            }
        </div>
    </nz-content>
</nz-layout>