<div class="login">
  <div class="logo">
    <img class="logo__image" src="/logo.png" alt="logo">
  </div>

  <nz-spin [nzSpinning]="isLoginLoading">
    <form nz-form [formGroup]="form" class="login__form" (ngSubmit)="login()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Поле является обязательным">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="name"
              placeholder="Имя"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Поле является обязательным">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
            <input
              [type]="isPasswordVisible ? 'text' : 'password'"
              nz-input
              formControlName="password"
              placeholder="Пароль"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span
              class="password-visible-icon"
              nz-icon
              [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="isPasswordVisible = !isPasswordVisible"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        type="submit"
        class="login__form-button"
        nzType="primary"
        [disabled]="form.invalid"
      >
        Поехали
        <span class="login__form-button-icon" nz-icon nzType="rocket" nzTheme="outline"></span>
      </button>
    </form>
  </nz-spin>
</div>
