.login {
  height: 100vh;
  background-color: var(--primary-background);

  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  
  &-form {
    background-color: var(--white);
    padding: 2em;
    width: 25em;
    border-radius: 1em;

    .password-visible-icon {
      cursor: pointer;
    }

    &__button {
      margin: 0 auto;
      display: block;
      width: 10em;
    }
  }
}

.logo {
  max-width: var(--logo-width);

  margin-top: 10%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}