.login {
  height: 100vh;
  background-color: var(--primary-ng-zorro);

  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  
  &-form {
    background-color: var(--white);
    padding: 2em;
    width: 25em;
    border-radius: 1em;

    .password-visible-icon {
      cursor: pointer;
    }

    &__button {
      margin: 0 auto;
      display: block;
      width: 10em;

      span[nz-icon] {
        transform: rotate(45deg);
      }

      &:not([disabled]) {
        background: var(--red);
        border-color: var(--red);
      }
    }
  }
}

.logo {
  width: var(--logo-size);
  height: var(--logo-size);

  margin-top: 12.5%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}