<div class="login">
  <h1 nz-typography>Космический Чемпионат 2024</h1>

  <nz-spin [nzSpinning]="isLoginLoading">
    <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="login()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Поле является быть обязательным">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="name"
              placeholder="Name"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Поле является быть обязательным">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        type="submit"
        class="login-form__button"
        nzType="primary"
        [disabled]="form.invalid"
      >
        Войти
      </button>
    </form>
  </nz-spin>
</div>
