<nz-layout class="nz-layout">
    <nz-header class="nz-header jury-header">
        <app-header>
            <h3 nz-typography header-left class="jury-header__title">Заявки</h3>

            <app-logout-button header-right />
        </app-header>
    </nz-header>

    <nz-content class="nz-content content">
        <div class="container">
            @if (isParticipantsLoading) {
                <nz-spin class="spin-height-100"></nz-spin>
            } @else {
                <div class="groups">
                    @if (notRatedParticipants.length > 0) {
                        <app-applications-group [participants]="notRatedParticipants" title="Без оценки" />
                    }
                    
                    @if (inTeamParticipants.length > 0) {
                        <app-applications-group [participants]="inTeamParticipants" title="В команде" />
                    }

                    @if (ratedParticipants.length > 0) {
                        <app-applications-group [participants]="ratedParticipants" title="Оценённые" />
                    }

                    @if (zeroRatedParticipants.length > 0) {
                        <app-applications-group [participants]="zeroRatedParticipants" title="0 баллов" />
                    }
                </div>
            }
        </div>
    </nz-content>
</nz-layout>