<nz-layout class="nz-layout">
    <nz-header class="nz-header jury-header">
        <app-header>
            <h3 nz-typography header-left class="jury-header__title">Космический Чемпионат // {{ userName }}</h3>

            <app-logout-button header-right></app-logout-button>
        </app-header>
    </nz-header>

    <nz-content class="nz-content content">
        <div class="container">
            @if (isParticipantsLoading) {
                <nz-spin class="spin-height-100"></nz-spin>
            } @else {
                <div class="groups">
                    @if (inTeamParticipants.length > 0) {
                        <app-applications-group 
                            [participants]="inTeamParticipants" 
                            title="В команде"
                        ></app-applications-group>
                    }

                    @if (notRatedParticipants.length > 0) {
                        <app-applications-group 
                            [participants]="notRatedParticipants" 
                            title="Заявки без оценки"
                        ></app-applications-group>
                    }
                    
                    @if (ratedParticipants.length > 0) {
                        <app-applications-group 
                            [participants]="ratedParticipants" 
                            title="Оценённые заявки"
                        ></app-applications-group>
                    }
                </div>
            }
        </div>
    </nz-content>
</nz-layout>