<nz-layout class="app-layout">
    <nz-header>
        <header class="header">
            <h3 nz-typography>Космический Чемпионат // {{ userName }}</h3>

            <button nz-button class="header__button" (click)="goToLogin()">
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                Выход
            </button>
        </header>
    </nz-header>

    <nz-content>
        @if (isParticipantsLoading) {
            <nz-spin></nz-spin>
        } @else {
            @if (inTeamParticipants.length > 0) {
                <h5 nz-typography>В команде</h5>
                
                @for (participant of inTeamParticipants; track participant.id) {
                    <p class="application" (click)="goToApplication(participant.id)">
                        Заявка #{{ participant.id }}
                    </p>
                }
        }
        
        @if (notRatedParticipants.length > 0) {
            <h5 nz-typography>Заявки без оценки</h5>
            
            @for (participant of notRatedParticipants; track participant.id) {
                <p class="application" (click)="goToApplication(participant.id)">
                    Заявка #{{ participant.id }}
                </p>
            }
        }
        
        @if (ratedParticipants.length > 0) {
            <h5 nz-typography>Оценённые заявки</h5>
            
            @for (participant of ratedParticipants; track participant.id) {
                <p class="application" (click)="goToApplication(participant.id)">
                    Заявка #{{ participant.id }}
                </p>
            }
        }
    }
    </nz-content>
</nz-layout>