.actions {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.deleted-card {
  width: 100%;

  &__content {
    padding: 1em;
    color: var(--red);
  }
}

.participant-call {
  margin-bottom: 0.5em;
}

.participant-card {
  margin-bottom: 0.5em;

  &__content {
    display: flex;
    align-items: center;
    gap: 2em;

    padding: 1em;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__item {
    margin: 0;
  }
}

.text-red {
  color: var(--red);
}

.form {
  display: flex;
  flex-direction: column;
  gap: .5em;

  &__item {
    margin: 0;
  }

  &__label {
    min-width: 7em;
    text-align: left;
  }

  &__control {
    min-width: 23em;
  }
}