*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --primary-background: #f6f7f8;
    --primary-ng-zorro: #1890ff;
    --star-color: #ffdd2d;
    --white: #fff;

    --in-team-color: #062ffa;
    --not-rated-color: #ff2400;
    --partially-rated-color: #ffa500;
    --full-rated-color: #419d48;
}