<nz-card class="jury-card" [nzBodyStyle]="{'padding': '0'}" [class.current]="userId === adult.id">
    <div class="jury">
        <div class="jury__info">
            <span nz-typography>{{ adult.name }}</span>
            <span nz-typography nzType="secondary">Пароль: {{ adult.password }}</span>
        </div>

        <div class="jury__actions">
            <span 
                class="star" 
                [class.org]="adult.role === AdultRole.Organizer" 
                nz-icon 
                nzType="star" 
                [nzTheme]="adult.role === AdultRole.Organizer ? 'fill' : 'outline'">
            </span>

            <button 
                nz-button
                nz-popconfirm
                [nzPopconfirmTitle]="adult.role === AdultRole.Organizer 
                    ? 'Вы уверены, что хотите удалить организатора? Его нельзя будет восстановить' 
                    : 'Вы уверены, что хотите удалить жюри? Его нельзя будет восстановить'"
                nzPopconfirmPlacement="bottom"
                nzCancelText="Закрыть"
                nzOkType="danger"
                nzOkText="Подтвердить"
                [disabled]="userId === adult.id"
                [nzPopconfirmOverlayStyle]="{ 'width': '24em' }"
                (nzOnConfirm)="remove()"
            >
                <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
        </div>
    </div>
</nz-card>