:host {
  display: flex;
  // From NgZorro template.
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

nz-header {
  display: flex;
  padding: 2em;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 4px gray;
  z-index: 1;
  justify-content: space-between;

  h3 {
    margin: 0;
  }
}

nz-spin,
::ng-deep .ant-spin-container,
nz-content {
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;

  background-color: var(--primary-background);

  overflow-y: scroll;
  padding: 2em;
}

.note {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.star {
  color: var(--star-color);
}

.add-button {
  min-width: 12em;
  padding: 8px 12px;
  height: 40px;

  margin-bottom: 1em;
}

