<nz-layout class="app-layout">
    <nz-header>
        <!-- TODO: вынести шапку -->
        <h3 nz-typography>Аккаунты</h3>

        <button nz-button (click)="goToLogin()">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            Выход
        </button>
    </nz-header>

    <nz-spin [nzSpinning]="isAdultsLoading">
        <nz-content class="list">
            <button nz-button nzType="primary" class="add-button" (click)="openAddModal()">
                <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                Добавить
            </button>

            <p nz-typography class="note">
                <span class="star" nz-icon nzType="star" nzTheme="fill"></span> является организатором
            </p>

            @for (adult of adults; track adult.id) {
                <app-jury-card [adult]="adult" (removed)="removeAdult(adult.id)"></app-jury-card>
            }
        </nz-content>
    </nz-spin>
</nz-layout>