<nz-layout class="app-layout">
    <nz-header>
        <div class="left">
            <button nz-button (click)="goToParticipants()">
                <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
                На главную
            </button>

            <button nz-button nzType="primary" class="add-button" (click)="openAddModal()">
                <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                Добавить аккаунт
            </button>
        </div>

        <button nz-button (click)="goToLogin()">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            Выход
        </button>
    </nz-header>

    <nz-spin [nzSpinning]="isAdultsLoading">
        <nz-content class="list">
            @for (adult of adults; track adult.id) {
                <app-jury-card [adult]="adult" (removed)="removeAdult(adult.id)"></app-jury-card>
            }
        </nz-content>
    </nz-spin>
</nz-layout>