.participant {
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em;

        &-info {
            margin-left: 1em;

            &-title,
            &-text,
            &-status {
                margin: 0;
            }

            &-status {
                font-size: small;

                &.in-team {
                    color: var(--in-team-color);
                }
            
                &.not-rated {
                    color: var(--not-rated-color);
                }
            
                &.partially-rated {
                    color: var(--partially-rated-color);
                }
            
                &.full-rated {
                    color: var(--full-rated-color);
                }
            }
        }
    }
}