.participant {
    display: block;
    padding: 1em;

    text-decoration: none;
    border: 1px solid var(--light-gray);
    background-color: var(--white);

    &__title {
        margin-bottom: 0em;
    }

    &__text {
        color: black;
        margin-bottom: 0.25em;
    }

    &__status {
        font-size: small;
        margin: 0;

        &.deleted {
            color: var(--not-rated-color);
        }

        &.in-team {
            color: var(--in-team-color);
        }
    
        &.not-rated {
            color: var(--not-rated-color);
        }
    
        &.partially-rated {
            color: var(--partially-rated-color);
        }
    
        &.full-rated {
            color: var(--full-rated-color);
        }
    }
}
