.participant {
    display: block;
    padding: .5em .8em;

    text-decoration: none;
    border: 1px solid var(--light-gray);
    background-color: var(--white);

    &__status {
        font-size: small;
        margin-bottom: 0;

        &.in-team {
            color: var(--in-team-color);
        }
    
        &.not-rated {
            color: var(--not-rated-color);
        }
    
        &.partially-rated {
            color: var(--partially-rated-color);
        }
    
        &.full-rated {
            color: var(--full-rated-color);
        }
    }
}