<div>
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="name">Имя</nz-form-label>
            <nz-form-control nzErrorTip="Поле является быть обязательным">
              <input nz-input formControlName="name" id="name" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="password">Пароль</nz-form-label>
            <nz-form-control nzErrorTip="Поле является быть обязательным">
              <input nz-input formControlName="password" id="password" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control>
                <div class="organizer-control">
                    <p nz-typography>Жюри</p>   

                    <nz-switch formControlName="isOrganizer"></nz-switch>

                    <p nz-typography>Организатор</p>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>    
</div>
<div *nzModalFooter>
    <button nz-button nzType="default" (click)="close()">Отмена</button>
    <button nz-button nzType="primary" [disabled]="form.invalid" (click)="add()">Добавить</button>
</div>