p, h3 {
    margin: 0;
    padding: 0;
    text-align: start;
}

#card-content.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;

    #info {
        margin-left: 1em;
    }
}

#status {
    font-size: small;
}

#status {
    &.in-team {
        color: var(--in-team-color);
    }

    &.not-rated {
        color: var(--not-rated-color);
    }

    &.partially-rated {
        color: var(--partially-rated-color);
    }

    &.full-rated {
        color: var(--full-rated-color);
    }
}