<nz-card class="participant-card" [nzBodyStyle]="{'padding': '0'}">
    <div id="card-content" [class]="view === View.Grid ? 'tile' : 'item'">
        @if (participant.info) {
            <nz-avatar id="avatar" [nzSize]="72" [nzSrc]="participant.info.photo_url"></nz-avatar>
    
            <div id="info">
                <h3 id="name">{{ participant.info.name }}</h3>
            
                <p id="location">
                    {{ participant.info.edu_org }}, {{ participant.info.city }}, {{ participant.info.district }}
                </p>
            

                @switch (status) {
                    @case (ParticipantStatus.InTeam) {
                        <p id="status" class="in-team">
                            Находится в команде "{{ participant.jury?.name ?? '' }}"
                        </p>
                    }
                    @case (ParticipantStatus.NotRated) {
                        <p id="status" class="not-rated">
                            Без оценок
                        </p>
                    }
                    @case (ParticipantStatus.PartiallyRated) {
                        <p id="status" class="partially-rated">
                            Частично оценен
                        </p>
                    }
                    @case (ParticipantStatus.FullRated) {
                        <p id="status" class="full-rated">
                            Полностью оценен
                        </p>
                    }
                }
            </div>
        }
        @else {
            <h3>Заявка #{{ participant.id }}</h3>
        }
    </div>
</nz-card>